# .clangd
CompileFlags:
  Add:
    - -I/usr/include/aarch64-linux-gnu/qt6
    - -I/usr/include/aarch64-linux-gnu/qt6/QtCore
    - -I/usr/include/aarch64-linux-gnu/qt6/QtGui
    - -I/usr/include/aarch64-linux-gnu/qt6/QtWidgets
    
    - -I/usr/include/aarch64-linux-gnu/qt6/QtDBus
    - -I/usr/include/aarch64-linux-gnu/qt6/QtXml
    - -Icomponents/metahub/src/cicd_view_model/include